@charset "UTF-8";

/* FONT IMPORT */
@import url('https://fonts.googleapis.com/css2?family=Allura&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* RESET */
* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
    text-decoration: none;
    user-select: none;
    appearance: none;
    font-family: 'Poppins', sans-serif;
}

/* VARIABLES */
:root {
    --white_default: #ffffff;
    --black_default: #000000;

    --buttons-operator: #FDA005;
    --buttons-utilities: #a5a5a59f;
    --buttons-number: #333333;

    --icons-background-color: #33333353;
    --icons-background-color-hover: #ffffff4c;
    --history-background-color: #3c3b3bcc;

    --icons-border-color: #ffffff28;

    --icons-theme-pink: #ff3fa2;
    --icons-theme-blue: #4da3ff;
    --icons-theme-purple: #9d4edd;
    --icons-theme-default: #575757;
}

/* BODY AREA */
body.light {
    --white_default: #000000;
    --black_default: #ffffff;
    --icons-background-color-hover: #302e2ec0;
}

body.pink {
    --buttons-utilities: #fc76b4;
    --buttons-number: #e3308d;
    --buttons-operator: #9a1254;
}

body.blue {
    --buttons-utilities: #7cc1fd;
    --buttons-number: #1787fe;
    --buttons-operator: #014b99fc;
}

body.purple {
    --buttons-utilities: #cd94fd;
    --buttons-number: #ad4dfb;
    --buttons-operator: #6100b1;
}

html {
    font-size: 16px;
}

body {
    width: 100%;
    height: 93dvh;
    padding: 10px;

    background-color: var(--black_default);
    color: var(--white_default);

    transition: all .5s ease;
}

/* NAV AREA */
header {
    display: flex;
    justify-content: space-between;
}

.clock,
.icon-status {
    font-size: clamp(0.65rem, 1.2vw, 0.95rem);
}

.phone-status {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 5px;
}

/* HEADER AREA */
nav {
    display: flex;
    justify-content: space-between;

    position: relative;

    padding-top: 8px;
}

/* icons area */
.icon {
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: clamp(1rem, 2vw, 5rem);
    font-variation-settings:
        'FILL' 0,
        'wght' 200,
        'GRAD' 0,
        'opsz' 24;
}

.component {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 1.7rem;
    height: 1.7rem;
    padding: clamp(5px, 0.8vw, 7px);
    border-radius: 50%;
    border: 1px solid var(--icons-border-color);

    background-color: var(--icons-background-color);
    backdrop-filter: blur(10px) saturate(160%), brightness(0.5);
    color: var(--white_default);

    transition: all .3s ease;
}

.component:is(:hover, :focus-visible) {
    cursor: pointer;
    background-color: var(--icons-background-color-hover);
    filter: brightness(1.5);
    transform: scale(1.2);
}

.svg-inline--fa {
    width: 15px;
    height: 15px;
}

/* Themes menu area*/
.menu {
    display: flex;
    flex-flow: column nowrap;
    gap: 2px;
}

.menu:is(:hover, :focus-visible) {
    transform: none;
}

.menu span {
    width: 75%;
    height: 1px;
    border-radius: 999px;

    background-color: var(--white_default);

    transition: all .4s ease-in-out;
}

.menu-open span:nth-child(1) {
    transform: translateY(2px) rotate(43deg);
}

.menu-open span:nth-child(2) {
    opacity: 0;
}

.menu-open span:nth-child(3) {
    transform: translateY(-3.5px) rotate(-43deg);
}

/* Themes color area */
.themes {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 5px;

    position: absolute;
    top: 7%;
    left: 35%;
    z-index: 1;

    width: 25%;
    padding: 5px;
    border-radius: 10px;

    background-color: var(--buttons-utilities);
    backdrop-filter: blur(10px) saturate(160%);
    opacity: 0;

    pointer-events: none;


    transition: all .3s cubic-bezier(0.55, 0, 1, 0.45);
}

.themes.themes-open {
    width: 60%;

    left: 20%;
    top: 40px;
    opacity: 1;
    pointer-events: auto;

    transition: all .6s cubic-bezier(0.215, 0.610, 0.355, 1);
}

.colors-themes-container {
    flex: 1 1 100%;
}

.colors-themes-items {
    display: flex;
    justify-content: space-evenly;
}

.color-theme {
    border-radius: 50%;
    aspect-ratio: 1/1;
    padding: 9px;
}

#pink-theme {
    background-color: var(--icons-theme-pink);
}

#blue-theme {
    background-color: var(--icons-theme-blue);
}

#purple-theme {
    background-color: var(--icons-theme-purple);
}

#default-theme {
    background-color: var(--icons-theme-default);
}

#pink-theme,
#blue-theme,
#purple-theme,
#default-theme {
    transition: all .3s ease-in-out;
}

#pink-theme:is(:hover, :focus-visible),
#blue-theme:is(:hover, :focus-visible),
#purple-theme:is(:hover, :focus-visible),
#default-theme:is(:hover, :focus-visible) {
    cursor: pointer;
    filter: brightness(1.2);
    transform: scale(1.3);
}

/* MAIN AREA */
main {
    display: grid;
    grid-template-rows: 1fr 1.7fr 50px;
    place-items: center;
    row-gap: 8px;

    position: relative;

    width: 100%;
    height: 100%;

    color: var(--white_default);
}

/* result */
.result {
    place-self: flex-end;

    height: 98px;
    margin-top: 30px;

    font-size: 3rem;
    font-weight: lighter;
    text-align: right;

    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    line-height: 2.5;

}

.result::-webkit-scrollbar {
    width: 0;
    height: 0;
}

/* BUTTONS SECTION AREA */
section.buttons {
    display: grid;
    grid-template: repeat(5, 37px)/repeat(4, 45px);

    place-items: center;
    place-content: space-between space-around;
    column-gap: 8px;

    width: 100%;
    height: 100%;
}

/* buttons area*/
.buttons-utilities {
    background-color: var(--buttons-utilities);
}

.buttons-operators {
    background-color: var(--buttons-operator);
}

.buttons-numbers {
    background-color: var(--buttons-number);
}

.buttons-utilities,
.buttons-operators,
.buttons-numbers {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    
    width: 70px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    border: 1px solid var(--icons-border-color);
    
    color: var(--white_default);
    backdrop-filter: blur(10px);
    
    font-weight: 500;
    
    transition: all .5s ease;
}

.buttons-utilities:is(:hover, :focus-visible),
.buttons-operators:is(:hover, :focus-visible),
.buttons-numbers:is(:hover, :focus-visible) {
    cursor: pointer;
    filter: brightness(1.3) saturate(160%);
    transform: scale(1.1);
}

/* history menu area */
.history {
    position: absolute;
    bottom: 0;

    width: 100%;
    height: .5%;
    border-radius: 8px;
    border: 1.8px solid var(--icons-border-color);

    background-color: var(--history-background-color);
    backdrop-filter: blur(2.5px) saturate(180%) brightness(1.2);
    opacity: 0;

    pointer-events: none;

    transition: all .3s cubic-bezier(0.55, 0, 1, 0.45);
}

.history.history-open {
    width: 100%;
    height: 67%;

    opacity: 1;

    pointer-events: auto;

    transition: all .6s cubic-bezier(0.215, 0.610, 0.355, 1);
}

main a {
    align-self: end;

    width: 50%;
    height: 6px;
    border-radius: 20px;

    background-color: #676767;
    backdrop-filter: blur(8px) saturate(160%);
    opacity: 0;
    transition: all .3s ease;
    cursor: pointer;
}

main a:hover {
    opacity: 1;
}

.home-indicator {
    width: 100%;
    height: 100%;
}