@charset "UTF-8";

/* RESET */
* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    text-decoration: none;
    user-select: none;
    appearance: none;
    font-family: 'Poppins', sans-serif;
}

/* VARIABLES */
:root {
    --white-default: #ffffff;
    --black-default: #000000;

    --start-button-background-color: #0b4114;
    --start-button-color: #5FC27B;

    --stop-button-background-color: #340E0D;
    --stop-button-color: #FA4745;


    --lap-button-inative-background-color: #1E1D22;
    --lap-button-inative-color: #a5a5a59f;
    --lap-button-active-background-color: #3A3A3A;

    --icons-color: #FFA500;
    --icons-background-color: #a5a5a53d;
    ;

    --dock-background-color: #a5a5a52d;
    --border-color: #ffffff28;

    --stopWatch-font: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

/* HTML AREA */
html {
    font-size: 16px;
}

/* BODY AREA */
body {
    display: grid;
    grid-template-rows: 50px 1fr .5fr 50px 8px;
    align-items: center;

    width: 100%;
    height: 98dvh;
    padding: 5px;

    color: var(--white-default);
    background-color: var(--black-default);
}

/* HEADER AREA */
header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

/* Phone status area */
.clock,
.icon-status {
    font-size: 1rem;
    color: var(--white-default);
}

.phone-status {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 5px;
}

/* MAIN AREA */
main {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    width: 100%;
}

/* STOPWATCH AREA */
.stopwatch {
    margin-bottom: 2rem;

    font: lighter 4rem var(--stopWatch-font);
    font-variant-numeric: tabular-nums;
}

/* CONTROLS AREA */
.controls {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;

    width: 100%;
}

/* Buttons area */
button {
    width: 4rem;
    aspect-ratio: 1/1;
    border-radius: 50%;

    font: 600 .95rem var(--stopWatch-font);
    background-color: white;
    cursor: pointer;
}

.lap-reset-button {
    color: var(--lap-button-inative-color);
    background-color: var(--lap-button-inative-background-color);
}

.active {
    background-color: var(--lap-button-active-background-color);
    color: var(--white-default);
}

.start-button {
    color: var(--start-button-color);
    background-color: var(--start-button-background-color);
}

.stop-button {
    color: var(--stop-button-color);
    background-color: var(--stop-button-background-color);
}

hr {
    width: 95%;
    height: 1px;
    border-radius: 999px;

    background-color: var(--dock-background-color);
}

/* DOCK AREA */
.dock {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    place-self: center;

    grid-area: -3/1 / -2/1;

    width: 95%;
    height: 45px;
    margin-bottom: .5rem;
    border: 1px solid var(--border-color);
    border-radius: 25px;

    background-color: var(--dock-background-color);
    backdrop-filter: blur(5px) saturate(160%);
}

/* icons area */
.icon-container {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;

    width: 80px;
    height: 93%;
    border-radius: 30px;

    background-color: var(--icons-background-color);
    cursor: pointer;
}

.icon-container p {
    font-size: .6rem;
    margin-top: -3px;
    text-align: center;

    color: var(--icons-color);
}

img {
    width: 30px;
    aspect-ratio: 1/1;
    object-fit: contain;
    filter: brightness(1.1);
}

a {
    grid-area: -2/1 / -1/1;
    align-self: end;
    justify-self: center;

    width: 50%;
    height: 6px;
    border-radius: 20px;

    background-color: #676767;
    backdrop-filter: blur(8px) saturate(160%);
    opacity: 0;
    transition: opacity .3s ease-in-out;
    cursor: pointer;

    &:is(:hover, :focus-visible) {
        opacity: 1;
    }

    &:focus-visible {
        outline: 2px solid var(--white-default);
        outline-offset: 1px;
    }
}

.home-indicator {
    width: 100%;
    height: 100%;
}